<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>채팅방</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
          <div class="message-container">
            <div class="chat-message-rater">
                <div>
                    <div class="sender">RaterBot</div>
                    <div class="text">저는 RaterBot 입니다. 원하시는 질문을 하시면 답변해드리겠습니다.</div>
                </div>
            </div>
          </div>
          <div class="input-container">
            <input type="text" id="message-input" placeholder="메시지를 입력하세요">
            <button id="send-button">전송</button>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>채팅방</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="message-container">
                <div class="chat-message-rater">
                    <div>
                        <div class="sender">RaterBot</div>
                        <div class="text">저는 RaterBot 입니다. 원하시는 질문을 하시면 답변해드리겠습니다.</div>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <input type="text" id="message-input" placeholder="메시지를 입력하세요">
                <button id="send-button">전송</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
